@model IEnumerable<PasanteModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Pasar a .net -->
<div id="layoutSidenav_content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Horas de pasante
        </div>
        <div class="card-body">
            <table class="table">
                <thead align="center">
                    <tr>
                        <th>@Html.DisplayNameFor(x=>x.CodgoPasante)</th>
                        <th>@Html.DisplayNameFor(x=>x.Nombre)</th>
                        <th>@Html.DisplayNameFor(x=>x.Periodo)</th>
                        <th>@Html.DisplayNameFor(x=>x.Sede)</th>
                        <th>@Html.DisplayNameFor(x=>x.FechaHoraRegistro)</th>
                    </tr>
                </thead>
                <tbody align="center">
                   @foreach (var item in Model)
                    {
                         <tr>
                            <td>@Html.DisplayFor(x=>item.CodgoPasante)</td>
                            <td>@Html.DisplayFor(x=>item.Nombre)</td>
                            <td>@Html.DisplayFor(x=>item.Periodo)</td>
                            <td>@Html.DisplayFor(x=>item.Sede)</td>
                            <td>@Html.DisplayFor(x=>item.FechaHoraRegistro)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-primary">Generar pdf</button>
        </div>
    </div>
</div>
<!--  -->