@model Empleado
@{
    ViewData["Title"] = "Pasante Page";
}

<div class="text-center">
    <h2 class="display-4">@Html.DisplayFor(x=>Model.NombreEmpleado)</h2>
    <h2 class="display-4">@Html.DisplayFor(x=>Model.ApellidoEmpleado)</h2>
    <h2 class="display-4">@Html.DisplayFor(x=>Model.Cargo)</h2>
    <h2 class="display-4">@Html.DisplayFor(x=>Model.Sede)</h2>
    <h2 class="display-4">@Html.DisplayFor(x=>Model.FechaInicio)</h2>
</div>
